.header {
  margin: 10px;
  text-align: center;
  color: teal;
}

.card-replacements {
  background: darksalmon;
}

.card-technicians {
  background: lightskyblue;
}

.card-vehicle-types {
  background: lightgreen;
}

.dashboard-card {
  box-shadow: none;
  box-sizing: border-box;
  width: 250px;
  height: auto;
  margin: 0px;
  transform: scale(1.5);
}

.dashboard-card:hover {
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,.5);
}

.dashboard-card-content {
  font-size: 20px;
  font-weight: 500;
  color: #43436B;
  margin: 0 8px;
  text-align: center;
}

.mat-icon {
  height: 50px !important;
  width: 50px !important;
  font-size: 50px;
}
