<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="vehicleForm" autocomplete="off" novalidate (ngSubmit)="onSubmit(vehicleForm)"
      fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
  <div>
    <mat-form-field class="full-width" *ngIf="false">
      <input matInput #referenceId type="text" formControlName="referenceId" maxlength="10">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Nº de placa </mat-label>
      <input matInput #plate type="text" formControlName="plate" maxlength="7">
      <mat-hint align="end">{{plate.value?.length || 0}}/7</mat-hint>
      <mat-error *ngIf="hasError('plate', 'required')">Nº de placa/matrícula obligatorio</mat-error>
      <mat-error *ngIf="hasError('plate', 'maxlength')">Has escrito más de 7 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>BIN</mat-label>
      <input matInput #bin type="text" formControlName="bin" maxlength="6">
      <mat-hint align="end">{{bin.value?.length || 0}}/6</mat-hint>
      <mat-error *ngIf="hasError('bin', 'required')">BIN es obligatorio</mat-error>
      <mat-error *ngIf="hasError('bin', 'maxlength')">Has escrito más de 6 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Modelo</mat-label>
      <input matInput #model type="text" formControlName="model" maxlength="50">
      <mat-hint align="end">{{model.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="hasError('model', 'maxlength')">Has escrito más de 50 caracteres</mat-error>
    </mat-form-field>
  </div>
  <br/>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Año fabricación</mat-label>
      <input matInput #yearRelease type="text" pattern="[0-9]+" formControlName="yearRelease" maxlength="4">
      <mat-hint align="end">{{yearRelease.value?.length || 0}}/4</mat-hint>
      <mat-error *ngIf="hasError('yearRelease', 'maxlength')">Has escrito más de 4 caracteres</mat-error>
      <mat-error *ngIf="hasError('yearRelease', 'pattern')">Formato incorrecto</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Tipo Vehículo</mat-label>
      <mat-select #vehicleType  formControlName="vehicleType">
        <mat-option value="">-- Elija una opción --</mat-option>
        <mat-option *ngFor="let option of vehicleTypes" [value]="option.reference">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width" *ngIf="vehicleType.value === '11111111' ">
      <mat-label>Número</mat-label>
      <input matInput #typeNumber type="text" formControlName="typeNumber" maxlength="10">
      <mat-hint align="end">{{typeNumber.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="hasError('typeNumber', 'maxlength')">Has escrito más de 10 caracteres</mat-error>
    </mat-form-field>
  </div>
  <mat-dialog-actions>
    <button cdkFocusInitial mat-dialog-close mat-raised-button>Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!vehicleForm.valid">Guardar
    </button>
  </mat-dialog-actions>
</form>
