<mat-toolbar color="primary">
  <div class="toolbar-element">
    <img class="automundo-logo" src="../../assets/images/logo.png"/>
  </div>
  <div class="toolbar-element app-title">Automundo</div>
  <div class="toolbar-element login-container">
    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>
    <span *ngIf="isAuthenticated()"> {{realName}} </span>
    <button *ngIf="isAuthenticated()" mat-button routerLink="/taller">
      <mat-icon>store</mat-icon>
      <span> Taller</span>
    </button>
    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <mat-icon>logout</mat-icon>
      <span> Cerrar sesión </span>
    </button>
    <button [matMenuTriggerFor]="menu" *ngIf="isAuthenticated()" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="/taller/buscar-clientes">
    <mat-icon>people_alt</mat-icon>
    <span>Clientes</span>
  </button>
  <button mat-menu-item routerLink="/taller/buscar-vehiculos">
    <mat-icon>car_rental</mat-icon>
    <span>Vehiculos</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>

<app-footer></app-footer>
