<mat-toolbar color="primary">
  <img alt="miw" src="../../assets/images/miw.png"/>
  <span>Automundo</span>
  <div>
    <button (click)="redirect()" mat-button>
      <mat-icon>settings_system_daydream</mat-icon>
      <span>Intranet</span>
    </button>
    <button (click)="logout()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
  </div>
  <div>
    <button [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item routerLink="cliente">
    <mat-icon>people_alt</mat-icon>
    <span>Clientes</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>

<app-footer></app-footer>

