<mat-card class="filter-card">
  <mat-card-content>
    <mat-label><strong>Filtros: </strong></mat-label>
    <mat-form-field>
      <mat-label>Referencia</mat-label>
      <input [(ngModel)]="vehicleTypeSearch.reference" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input [(ngModel)]="vehicleTypeSearch.name" matInput>
    </mat-form-field>
    <button (click)="search()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
    <button (click)="resetSearch()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

<app-crud (update)="update($event)" (delete)="delete($event)"
          [data]="vehicleTypes" [createAction]="false" [readAction]="false" [title]="title"></app-crud>

<div class="create-replacement-button-container">
  <button (click)="newVehicleType()" mat-fab color="warn">
    <mat-icon>add</mat-icon>
  </button>
</div>
