<footer class="footer">
  <div class="footer-cols">
    <div class="footer-logo">
      <img class="automundo-logo"
           src="../../../assets/images/logo.png">
      <span class="automundo-text">Automundo</span>
    </div>
    <div class="copyright">© 2021 Copyright:
      <a href="http://localhost:4200/"> Automundo.com</a>
    </div>
    <div class="info-container">
      <div class="info">
        <div class="back-icon-container">
          <mat-icon mat-list-icon>cloud_queue</mat-icon>
        </div>
        <div>
          <div mat-line>Back-end - Spring</div>
          <div mat-line>Core - {{backEndCore}}</div>
        </div>
      </div>
    </div>
  </div>
</footer>
